@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-base-table/styles.css';
@import '~react-loading-skeleton/dist/skeleton.css';
@import '~sweetalert2/src/sweetalert2.scss';
@import './_assets/sass/style.react.scss';

.content {
    img {
        height: auto !important;
        max-width: 100% !important;
    }
}

.truncate-multi-line {
  display: -webkit-box; /* Required for -webkit-line-clamp */
  -webkit-line-clamp: 2; /* Limits the text to 3 lines before truncation */
  -webkit-box-orient: vertical; /* Required with -webkit-line-clamp */
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Displays an ellipsis for truncated text */
}

